<div class="navbar">
  <div class="top">
    <div class="logo">Inventory App</div>
    <a class="home" href="/">Home</a>
    <a class="add-recipe" href="/recipe/new">Add Recipe</a>
  </div>
  <div class="bottom">
    <div><a target="_blank" href="https://www.linkedin.com/in/abhisheksaraff/">LinkedIn</a></div>
    <div><a target="_blank" href="https://github.com/abhisheksaraff/recipe-inventory-application">Github Repo</a></div>
    <div><a target="_blank" href="https://www.theodinproject.com/">ⒸThe Odin Project</a></div>
  </div>
</div>