<div class="navbar">
  <div class="top">
    <div class="logo">Project Tracker</div>
    <a class="home" href="/">Home</a>
    <a class="add-project" href="/project/new">Add Project</a>
  </div>
  <div class="bottom">
    <div><a target="_blank" href="https://www.linkedin.com/in/abhisheksaraff/">LinkedIn</a></div>
    <div><a target="_blank" href="https://github.com/abhisheksaraff/project-tracker">Github Repo</a></div>
    <div><a target="_blank" href="https://www.theodinproject.com/">ⒸThe Odin Project</a></div>
  </div>
</div>