* {
  background-color: black;
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: white;
}

/* Navbar */
.navbar {
  border-right: 2px solid white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    display: flex;
    flex-direction: column;

    .logo {
      font-size: x-large;
    }

    .home,
    .add-recipe {
      margin-top: 7px;
    }
  }

  .bottom {
    text-align: center;
  }
}

/* Index */
.card-body {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;

  .card {
    background-color: #222429;
    height: 220px;
    margin: 3px;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    padding: 10px;
    align-content: center;
    text-align: center;

    * {
      background-color: #222429;
    }

    .cuisine {
      color: lightgray;
    }

    .name {
      font-size: larger;
    }
  }

  .card:hover {
    border: 1px solid lightgrey;
  }
}

/* View Recipe */
.view-recipe {
  padding: 10px;

  .name {
    font-size: larger;
    font-weight: bold;
  }

  a {
    margin-right: 7px;
  }
}

/* Edit Recipe */
.edit-recipe {
  padding: 10px;
  width: 100%;

  label {
    display: flex;
    flex-direction: row;
  }

  .label-text {
    width: 10%;
    align-self: center;
  }

  .name,
  .cuisine,
  .ingredients {
    width: 40%;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 4px;
  }

  input {
    border: 1px solid white;
    padding: 8px;
    border-radius: 4px;
    color: grey;
    cursor: pointer;
  }

  input:hover {
    color: white;
  }
}
